*{
    margin: 0;
    padding: 0;
}

.header{
    width: 90%;
    margin: 30px auto;
    margin-top: -1.5%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.product{
   width: 480px;
   height: 504px;
   border: 4px solid black;
   border-radius: 10px;
   overflow: hidden;
   padding: 1px;
   margin: 80px 20px;
   background-color:antiquewhite;
}

.product-img img{
    width: 120%;
    height: 120%;
}

.product-title{
    font-size: x-large;
    font-weight: 500;
    color: rgb(43, 6, 102);
    margin-top: 3%;
}

.product-price{
    font-size: x-large;
    font-weight: 500;
    color: rgb(212, 13, 13);
    margin-top: 1%;
}

.product-info{
    font-size: large;
    font-weight: 600;
    color: black;
    margin-top: 2%;
}

.product-button{
    width: 20%;
    padding: 3px 0;
    margin: 1%;
    background-color: rgb(79, 241, 241);
    border: 1.5px solid black;
    border-radius: 0px;
    cursor: pointer;
}
