.App {
  text-align: center;
}

.navbar{
  width: 100%;
  height: 66px;
  background-color: rgb(157, 240, 154);
}

.navbar-sub{
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 60px;
}

.navbar-food{
  font-size: 1.6rem;
  font-weight: bold;
  color: rgb(190, 9, 9);
  font-family: cursive;
  cursor: pointer;
}

.navbar-cursor{
  cursor: pointer;
}

.navbar-icon{
  font-size: 2rem;
  color: blue;
  width: 0%;
} 

.navbar-length{
  padding: 0 3px;
  background-color: rgb(233, 72, 51);
  color: white;
  font-weight: bold;
  border-radius: 5px;
  top: -15px;
  position: relative;
} 

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
